* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}






.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navlogo{
  font-size: 0.9rem;
}

.navlinks{
  display: flex;
  /* background-color: red; */
  gap: 2rem;
}
.navlinks .link{
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 50px;

}
.navlinks .active{
  border: 1px solid black;
}

#navbtn{
  display:inline-flex;
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 50px;
  gap: 10px;
  font-size: 0.8rem;

}
#navbtn i{
  font-size: 1rem;
}


