* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #efefef
}

.app{
  padding: 0 4rem;
  padding-bottom: 4rem;
}




.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.navlogo{
  font-size: 0.9rem;
}

.navlinks{
  display: flex;
  /* background-color: red; */
  gap: 2rem;
}
.navlinks .link{
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;

}
.navlinks .active{
  border: 1px solid rgba(138, 138, 138, 0.87);
}

#navbtn{
  display:inline-flex;
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 50px;
  gap: 10px;
  font-size: 0.8rem;
  cursor: pointer;

}
#navbtn i{
  font-size: 1rem;
}

.hero-main{
  width: 100%;
  height: 100%;
  padding: 0.2rem 0;
}

.hero-container{
  border-radius: 30px;
  height: 85vh;
  width: auto;
  background-image: url('./assets/images/hero.png');
  
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
}


.herotext{
  margin-top: 4rem;
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.herotext h1{
  font-weight: 100;
  color: rgba(255, 255, 255, 0.932);
  font-size: 3rem;
  text-align: center;
}
.herotext p{
  width: 70%;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.932);
  font-size: 1rem;
  text-align: center;
}


.herobtn{
  background-color: black;
  color: rgba(239, 239, 239, 0.953);
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 1rem;
}



.herobottom{
  padding:0 1rem;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
}


.avatar-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatars{
  width: 130px;
  height: 50px;
  background-color: rgba(250, 250, 250, 0.556);
  border-radius: 50px;
  display: flex;
  padding: .5rem ;
  gap: 1px;
  position: relative;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.avatar{
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: green;
  background-position: center;
  background-size: cover;
  border: 1px solid white;
}

.avatar:nth-child(1 ){
  background-image: url('./assets/images/man.jpg');
  left: 10px;
}


.avatar:nth-child(2){
  left: 45px;
  background-image: url('./assets/images/man.jpg');

}
.avatar:nth-child(3){
  background-image: url('./assets/images/man.jpg');

  left: 75px;
}


.bottomlinks{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.botlink{
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.916);
}




.section2{
  margin-top: 2rem;
  display: flex;
  padding: 1rem 0;
}


.left-sect2{
  width: 40%;
}

.about-horizon-text{
  /* background-color: green; */
  width: fit-content;
  padding:0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid black;
}

.right-sect2{
  width: 60%;
  padding: 0 1rem;

}
.about-horizon-para{
  font-size: 2rem;
}


.section3{
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  gap: 2rem;
}


.sect3left{
  border-radius: 50px;
  background-color: #0d0d25;
  width: 33%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sect3left .sect3logo{
  width: 50px;
  height: 50px;
  background-image: url("./assets/images/image.png");
  background-size: cover;
}

.sect3text{
  font-size: 2rem;
  color: white;
}
.sect3text span{
  color: #b7b7b7;
}


.sect3btn{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7c83ab;
  font-size: 1.3rem;
  font-weight: 100;
}
.sect3-btn{
  background-color: #3db1e6;
  width: 60px;
  border-radius: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: #3db1e6;
}



.sect3mid{
  background-image: url("./assets/images/man.jpg");
  width: 33%;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.sect3mid-text{
  color: rgb(235, 235, 235);
  font-size: 1.5rem;
  border-radius: 50px;
  backdrop-filter: blur(4px);
    background: linear-gradient(to right,rgba(255, 255, 255, 0.182),rgba(0, 0, 0, 0.17));
    width: fit-content;
    padding: 1rem;

}



.sect3right{
  border-radius: 50px;
  padding: 2rem;
  width: 33%;
  background-color: #f9f8ff;
  display: flex;
  flex-direction: column;
}

.sect3right h1{
  font-size: 4rem;
  font-weight: 400;
  width: fit-content;
}
.sect3right h3{
  font-size: 1.3rem;
  font-weight: 500;
}
.sect3right p{
  margin-top: 1rem;
  font-size: 1rem;
  color: rgba(43, 43, 43, 0.81);
}




.state-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.state{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rounds{
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  width: 60%;
}

.blue-round{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightskyblue;
}




.section4{
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper{
  font-size: 2rem;
  margin-bottom: 2rem;
}


.lower{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}


.numbers{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers h1{
  font-size: 2.5rem;
  color: rgba(44, 44, 44, 0.955);
}
.numbers p{
  font-size: 1rem;
  color: rgba(91, 91, 91, 0.955);

}


hr {
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 4rem ;
}

.section5{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card-modok {
    border-radius:2rem;
    padding: 2rem;

}
.card5{
    width: 40%;

}
.card5>span:nth-child(1) {
    padding: 4px 10px;
    border-radius: 32px;
    border: 1px solid gainsboro;
    font-size: 1.2rem;
}

.card5>p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.2;
}

.card5>button {
    padding: 0.7rem 1rem;
    background-color: #0e1a2d;
    border-radius: 1.5rem;
    border: none;
    color: silver;
    font-size: 1.1rem;
    margin-top: 3rem;
}

.card6 {
    width: 30%;
    height: 25vw;
    background: url("./assets/images/girl.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card6>span {
    background: linear-gradient(to right,#ffffff93,#ffffff2f);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 10px 23px;
    border-radius: 32px;
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
    width: fit-content;
}

.card6-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card6-footer>span:nth-child(1) {
    font-size: 1.27rem;
    color: #fff;
    width: 80%;
}



.card6-footer>span:nth-child(2) i{
    border-radius: 50%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
}



.card7 {
    width: 30%;

    padding: 0;
    overflow: hidden;
}

.card7 .card7-header {
    height: 50%;
    width: 100%;
    border-radius: 2rem;
    background: url("./assets/images/balls.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.card7 .card7-header>span:nth-child(1) {
    background: linear-gradient(to right,#ffffff93,#ffffff2f);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 10px 23px;
    border-radius: 32px;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    width: fit-content;
}

.card7 .card7-header>span:nth-child(2) {
    color: #fff;
    font-size: 1.3rem;
}

.card7-footer {
    padding: 20px 40px;
}

.card7-footer>p {
    font-weight: 200;
    font-size: 1.2rem;
}

.card7-footer>.arrow {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 14px;
}

.card7-footer>.arrow>span {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
    border: 2px solid gainsboro;
    border-radius: 50%;
    font-size: 1.3rem;
}






