* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
background-color: #000;
}

.cards{
  padding: 20px;
  text-align: center;
  color: white;
  gap: 20px;
  background-color: #000;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}