* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
    width: 100%;
    height: 100%;
background-color: #000;
}





.card{
  padding: 10px;
    width: 200px;
    height: 300px;
    background-color: #4d4d4ec5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.card:hover{
    background-color: #212121c3;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
}
.card button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}