@import "tailwindcss";

* {
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
 background: radial-gradient(125% 125% at 50% 10%, #06020a 40%, #180133 100%);
  color: #eeeeeed7;

}